/*
-------------------------------------------------------------------------------
Nordic Health Data Portal master styles
---------------------------------------------------------------------------- */

/* Global definitions
---------------------------------------------------------------------------- */

body {
    background-color: #e8e9f3;
    color: #262123;
    font-family: "Work Sans", "Trebuchet MS", Helvetica, "Helvetica Neue", sans-serif;
    font-size: 100%; /* = 16px */
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-weight: 300; /* Light */
    line-height: 1.5em;
}

a:link,
a:visited {
    // color: #187D00;
    color: #0F790C;
    outline: none;
    text-decoration: none;
}

a:hover,
a:visited:hover {
    color: #2D3ABD;
    text-decoration: underline;
}

/* Twitter Bootstrap Typeahead */

.typeahead.dropdown-menu {
    background-color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
    list-style: none;
    margin: 0;
    position: absolute;
    z-index: 1000;
}

.typeahead.dropdown-menu li {
    border-top: 1px solid #ccc;
    float: none;
    padding: 0 !important;
}

.typeahead.dropdown-menu li:first-child {
    border-top: none;
}

.typeahead.dropdown-menu li a:link,
.typeahead.dropdown-menu li a:visited {
    color: #50c035 !important;
    display: block;
    font-size: 14px;
    padding: 10px !important;
}

/* Structure (header, content, etc.)
---------------------------------------------------------------------------- */

/* Header
---------------------------------------------------------------------------- */

#header {
    background-color: #50c035;
    border-top: 7px solid #fff;
    margin-bottom: 30px;
    padding: 15px 0;
}

/* Overrides for the Foundation Top Bar */

.contain-to-grid,
#header .top-bar,
#header .top-bar.expanded,
#header .top-bar.expanded .title-area,
#header .top-bar .top-bar-section ul li,
#header .top-bar .top-bar-section li:not(.has-form) a:not(.button) {
    background: none;
}

#header .top-bar .name {
    height: auto;
}

#header .top-bar .name h1 a,
#header .top-bar .name h2 a,
#header .top-bar .name h3 a,
#header .top-bar .name h4 a,
#header .top-bar .name p a,
#header .top-bar .name span a,
#header .top-bar .toggle-topbar.menu-icon a,
#header .top-bar .top-bar-section ul li > a {
    color: #fff;
    font-family: "Work Sans", "Trebuchet MS", Helvetica, "Helvetica Neue", sans-serif;
    font-size: 23px
}
/*frontpage home/about/search studies*/
#frontpage-left-menu{
    font-size: 1.5em!important;
    padding: 15px;
    background-color: rgba(245,245,245,0.75);
    min-height: 300px;
    border-radius: 20px;
    margin-left: 0px
}
#home{
    z-index: 1;
    list-style-type: none;
    font-weight: 400;
}
#home a:hover{
    color: #50C04C;
}
#about{
    list-style-type: none;
    z-index: 2;
    list-style-type: none;
    font-weight: 400;
}
#about a:hover{
    color: #50C04C;
}
#search{
    list-style-type: none;
    font-weight: 400;
}
#search a:hover{
    color: #50C04C;
}
#searchstudies{
    z-index: 3;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: "Work Sans", "Trebuchet MS", Helvetica, "Helvetica Neue", sans-serif;
}
#header .top-bar .has-dropdown .dropdown li {
    padding: 0;
}


/* --- Navigation (Foundation Top Bar) --- */

#header .navigation #logo a:link,
#header .navigation #logo a:visited {
    font-size: 30px;
    font-weight: 400; /* Light */
}

#header .navigation .has-form {
    min-width: 300px;

}

#header .navigation form input[type="search"],
#header .navigation form input[type="text"] {
    border-radius: 0;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    width: 100%;
}
#header .navigation form input[type="search"]:focus,
#header .navigation form input[type="text"]:focus {
    border: 1px solid grey;
    box-shadow: inset 0 1px 2px rgba(255,255,255,0.1);
    background-color: #F8F8F8;
}

#header .navigation form input.search::-webkit-input-placeholder{
    color: #D5CFDA;
}

#header .navigation form input.search:-moz-placeholder { /* Firefox 18- */
    color: #D5CFDA !important;
}

#header .navigation form input.search::-moz-placeholder {  /* Firefox 19+ */
    color: #D5CFDA !important;
}

#header .navigation form input.search:-ms-input-placeholder {
    color: #D5CFDA !important;
}

#header .navigation form :-ms-input-placeholder {
    color: #fff;
}

#header .navigation form :-moz-placeholder {
    color: #fff;
}

#header .navigation form ::-moz-placeholder {
    color: #fff;
}

#header .navigation form ::-webkit-input-placeholder {
    color: #fff;
}

#header .navigation form .typeahead.dropdown-menu li a:link,
#header .navigation form .typeahead.dropdown-menu li a:visited {
    padding: 0 10px !important;
}

/* Content
---------------------------------------------------------------------------- */

#content p,
#content ul,
#content ol {
    font-size: 14px;
    font-weight: 300; /* Light */
}

#content .block {
    background-color: #fff;
    margin-top: 15px;
    padding: 25px 0;
}

#content .button{
    margin: 35px 0px 0px 200px;
    padding: 10px 15px 10px 15px;
    font-size: 25px;
}
#content .searchbar .search {
    display: inline-block;
}
#content .searchbar button {
    margin-top: 0px;
    margin-left: 0px;
    padding: 5px;
    background-color: #888;
    color: #fff;
    height: 37px;
    width: 50px;
}
#content .searchbar .columns {
    margin: 0;
    padding: 0;
}
/* "Cards" */

#content .card {
    margin-bottom: 20px;
}

#content .card em {
    background: lightgray;
}
#content .card .header {
    background-color: #272635;
    clear: both;
    color: #fff;
    line-height: 1rem;
    padding: 15px;
}

#content .card .header a:link,
#content .card .header a:visited {
    color: #fff;
}

#content .card .header .label {
    font-size: 16px;
    display: block;
    font-weight: 500;
}
#content .card .content {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.29);
    padding: 15px;
}

#content .card .content p {
    font-size: 13px;
}
#content .featured {
    background-color: #50c035;
    background: url(../../images/content/blackboard.jpg) 50% 50% no-repeat transparent;
    background-size: cover;
    color: #fff;
    margin-top: -30px;
    margin-bottom: 25px;
    min-height: 400px;
    padding: 25px 0;
}
#content img.featured {
    background: none;
    min-height: 0;
    padding: 0;
}

#content .featured h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 200; /* Extra-Light */
    line-height: 3rem;
    margin: 85px 0 50px 0px;
}

#content .featured h1 small {
    color: #fff;
    color: rgba(255, 255, 255, 0.75);
    display: block;
    font-size: 26px;
    margin-top: 15px;
    line-height: 2rem;
}

#content .featured .tag {
    font-size: 14px;
    font-weight: 500; /* Medium */
    padding: 2px 4px;
    text-align: center;
    vertical-align: super;
}

#content .featured .tag.prototype {
    background-color: #c60f13;
}

#content .featured-grid h2 {
    clear: both;
    font-size: 18px;
}

#content .featured-grid img {
    display: block;
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
    max-width: 64px;
}
#content .featured .search{

}
#content .featured .button{
    margin-top: 0px;
    margin-left: 0px;
    padding: 5px;
    background-color: #888;
    color: #fff;
    height: 37px;
    width: 50px;
}
.filter:first-child{
    margin-left:30px;
}
.filter{
    margin: 5px;
    background-color: #F8F8F8 ;
}
.filter h2{
    cursor: pointer;
    font-size: 140%;
    font-weight: 400;
    height: 10px;
}
#content .filters {
    list-style: none;
    margin: 0px;
}

#content .filters li {
    margin-top: 10px;
}

#content .filters li:first-child {
    margin-top: 0;
    padding-top: 20px;
}

#content .filters li .label {
    background-color: rgba(245,245,245,0.75);
    border-radius: 5px;
    font-size: 13px;
    font-weight: normal;
    font-weight: 400; /* Regular */
    padding: 2px 5px;
    text-align: center;
}
.filters .label{
    border: 1px solid #50c035;
}
#content .total{
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20px;

}
/* Pagination */

#content .pagination {
    list-style: none;
    margin: 0 0 25px 20px;
}
#content .pagination a{
    color: #272635;
}

#content .pagination li {
    float: left;
    margin: 0 0 0 5px;
    border: 2px solid #272635;
    padding: 3px 8px 0px 8px;
    border-radius: 5px;
}

#content .pagination li:first-child {
    margin: 0;
}

/* Content timeline */

#content .timeline {
    list-style: none;
    margin: 0 0 25px 0;
    padding: 0 0 0 15px;
}

#content .timeline li {
    border-left: 3px solid #50c035;
    font-size: 13px;
    margin-left: 2px;
    padding: 15px;
}

#content .timeline li.history {
    border-left: 1px solid #aaa;
    margin-left: 3px;
    color: #888;
    padding-left: 17px;
}

#content .timeline li.next {
    border-left: 7px solid #50c035;
    font-weight: 500; /* Medium */
    margin-left: 0;
}

#content .timeline li.next span {
    background-color: #50c035;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: 2px 5px;
}

/*sidebar*/
.linkbutton:hover{
    color: white;
}
.sidebar{
    width: 150px;
    float: right;
}
.sidebar ul{
    list-style-type: none;
    margin: 0px;
}
.sidebar h3{
    border: 2px solid #50c035;
    padding: 5px;
    color: #50c035;
    font-weight: 500;
    text-align: center;
}
.sidebar h3:hover{
    background-color: #50c035;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.sidebar a{
    text-decoration: none;
}
.sidebar ul li{
    border: 2px solid #50c035;
    margin: 5px;
    padding: 2px;
    font-weight: 500;
}
.sidebar ul li:hover{
    background-color: #50c035;
    transition: ease-in-out 0.5s;

}
.sidebar ul li a{
    display: table-cell;
}
.sidebar ul li a:hover{
    color: white;
}
.abstract{
    margin-bottom: 0px;
}

.aggregations {
    list-style: none;
    margin-left: 0;
}

.aggregation {
    background-color: #50C04C;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-bottom: 3px;
    margin-left: 0;
    display: block;
}

.aggregation .label {
    color: #fff;
}

.badge {
    color: #50C04C;
    background-color: #fff;
    float: right;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
}

#study h1 {
    border-bottom: 2px solid;
    margin-bottom: 20px;
}

#study .landingpage {
    background-color: #187D00;
    color: #fff;
    padding: 6px;
    border: 1px solid #fff;
    width: 60%;
    display: inline-block;
    text-align: center;
}

#study .landingpage i {
    font-size: 18px;
}